// Navigation Styles here

nav {
    .flex-layout(space-between, center);
    border-bottom: 3px dotted grey;
    padding: 2% 0;

    .logo {
        width: 25%;
    }

    .nav {
        .flex-layout(flex-end, center);
        width: 75%;
        

            a {
                margin: 2%;
                text-decoration: none;
                font-size: 1.8rem;
                color: black;
            }
    }

    

}